@model IEnumerable<TravelProject.Models.Rentals>

@{
    ViewData["Title"] = "Index";
}

<h1>Rental List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rentalname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Party)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rentalname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Party)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRentals" class="btn btn-success btn-sm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRentals" class="btn btn-primary btn-sm">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRentals" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
